################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Theory-of-algorithms-and-data-structures.VC.VC.opendb
